In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("C:/Users/sande/Desktop/Machine_Learning_Concept/Suppervised_Machine_Leaning/Naive_Bayes/Tenis_Data_sets.csv")
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [4]:
# drop the days colmuns
df.drop(columns=['day'],inplace=True)

In [5]:
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [6]:
#Problem 1
#Outlook=Sunny , Temp=Hot ,Humidity= High wind = Weak
#Play or Not Play

In [7]:
# Solution 
# P(Yes|Sunny,Hot,High,Weak)=P(Sunny|Yes)*P(hot|Yes)*P(High|Yes)*P(Weak|Yes)
# P(No|Sunny,Hot,High,Weak)=P(Sunny|No)*P(hot|No)*P(High|No)*P(Weak|No)

# Campare and decide using hte maximum a posteriori

In [8]:
#Training 

# Lookup Table(Dictionary)
#Testing
# P(Yes)
# P(NO)

In [9]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [10]:
PY=9/14
PN=5/14

In [11]:
print(PY)
print(PN)

0.6428571428571429
0.35714285714285715

In [12]:
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [13]:
Pon=0        #Probability of Overcast for No
Prn=2/5
Psn=3/5
#Overcast Probability
Poy=4/9
Pry=3/9
Psy=2/9

In [14]:
# temp
pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [15]:
PcoolN=1/5
PHotN=2/5
PMild=2/5
# Yes
PcoolY=3/9
PHotY=2/9
PMildY=4/9

In [16]:
#Humidity
pd.crosstab(df['humidity'],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [17]:
PHighN=4/5
PNormalN=1/5
#Yes
PHighY=3/9
PNormalY=6/9

In [18]:
#Wind
pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [19]:
PStrongN=3/5
PWeakN=2/5
#Yes
PStrongY=3/9
PWeakY=6/9

In [22]:
# Solution
# Outlook=Sunny , Temp=Hot ,Humidity= High wind = Weak
#Play or Not Play
Pyes=PY*Psy*PHotY*PHighY*PWeakY
Pno=PN*Psn*PHotN*PHighN*PWeakN
print("P(Yes)",Pyes)
print("P(No)",Pno)

P(Yes) 0.007054673721340388
P(No) 0.02742857142857143