In [7]:
import numpy as np
import pandas as pd

In [8]:
df=pd.read_csv('Data_sets.csv')
df

    Unnamed: 0  cgpa     iq  placement
0            0   6.8  123.0          1
1            1   5.9  106.0          0
2            2   5.3  121.0          0
3            3   7.4  132.0          1
4            4   5.8  142.0          0
..         ...   ...    ...        ...
95          95   4.3  200.0          0
96          96   4.4   42.0          0
97          97   6.7  182.0          1
98          98   6.3  103.0          1
99          99   6.2  113.0          1

[100 rows x 4 columns]

In [12]:
import requests
from io import StringIO

# Corrected URL to the raw CSV file
url = "https://raw.githubusercontent.com/campusx-official/placement-project-logistic-regression/main/modified_placement_data.csv"
headers = {"User-Agent": "Mozilla/5.0(Macintosh; Intel Mac OS X 10.14; rv:65.0) Gecko/20100101 Firefox/65.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)
df = pd.read_csv(data)
df

   cgpa     iq placement
0   6,8  123.0       Yes
1   5,9  106.0        No
2   5,3  121.0        No
3   7,4  132.0       Yes
4   5,8  142.0        No
..  ...    ...       ...
95  4,3  200.0        No
96  4,4   42.0        No
97  6,7  182.0       Yes
98  6,3  103.0       Yes
99  6,2  113.0       Yes

[100 rows x 3 columns]